.menu {
  position: fixed;
  right: 40px;
  text-align: right;
}

input[type=checkbox] {
  transform: scale(1.5);
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover {
  color: #888;
}

#close {
  color: #000;
  background-color: #fff;
  display: inline-block;
  padding: .2em;
  border-radius: 4px;
}

.menuList>li {
  list-style: none;
}
.menuList {
  background-color: #666;
  padding: 1em;
}
