.menu {
  position: fixed;
  right: 20px;
  text-align: right;
}

input[type=checkbox] {
  transform: scale(1.5);
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a:hover {
  color: #888;
}

.menuList>li {
  list-style: none;
}

.menuList>li>a {
  color: #fff;
}

.menuList {
  background-color: #222;
  padding: .6em;
  border-radius: 4px
}

.menuButton {
  margin-top: 1.5em
}
