.toolbar {
	background: #000;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	height: 70px;
}

button {
	border: none;
	margin: 0 .3em;
	padding: .2em;
	font-size: 2em;
	background-color: #eee;
	border-radius: 3px;
}

button:hover{
	cursor: pointer;
	background-color: #ccc;
}


.myName, .occupation {
  font-size: 3em;
  padding: .4em;
}

@media (max-width: 1024px) {
	.myName	{
		font-size: 1.2em;
	}
}
